- provide(:title, "Wells")

%h1 Listing wells

%table
  %tr
    %th Name
    %th Start date
    %th
    %th
    %th

  - @wells.each do |well|
    %tr
      %td= well.name
      %td= well.start_date
      %td= link_to 'Show', well
      %td= link_to 'Edit', edit_well_path(well)
      %td= link_to 'Destroy', well, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h3 Import Wells
= form_tag import_wells_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import CSV"

= link_to 'New Well', new_well_path
