- provide(:title, "Wells")

%h1 Listing wells

%table
  %tr
    %th Name
    %th Start date
    %th
    %th
    %th

  - @wells.each do |well|
    %tr
      %td= well.name
      %td= well.start_date
      %td= link_to 'Show', well
      %td= link_to 'Edit', edit_well_path(well)
      %td= link_to 'Destroy', well, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%label{for: "amount"} GPI:
%input#amount{style: "border:0; color:#f6931f; font-weight:bold;", type: "text"}
#slider-range
- @attributes.each do |attribute|
  = check_box_tag attribute, attribute, false, {class: "attribute_check_box"}
  = attribute

- colors = %w[red blue green orange teal pink yellow]

- @wells.each do |well|
  %h3= well.name
  .row.well_info_box
    .col-md-12
      - well.stages.each_with_index do |stage, index|
        .stage_box{style: "width:#{stage.stage_length}px; background-color:#{colors[index%colors.length]}",
          data: {stage: stage.to_json, well: well.to_json}}
          .stage_box_info

%button#zoom_in Zoom In
%button#zoom_out Zoom Out


%h3 Import Wells
= form_tag import_wells_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import CSV"




= link_to 'New Well', new_well_path
