= simple_form_for([@well, @stage]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :well
    = f.input :number
    = f.input :frac_date
    = f.input :gpi
    = f.input :gpi2
    = f.input :top_perf
    = f.input :bottom_perf
    = f.input :stage_length
    = f.input :shots

  .form-actions
    = f.button :submit, class: "btn btn-success"
