%h1 Listing stages

%table.table.table-hover
  %tr
    %th Frac date
    %th Gpi
    %th Gpi2
    %th Top perf
    %th Bottom perf
    %th Stage length
    %th Shots
    %th Number
    %th
    %th
    %th

  - @stages.each do |stage|
    %tr
      %td= stage.frac_date
      %td= stage.gpi
      %td= stage.gpi2
      %td= stage.top_perf
      %td= stage.bottom_perf
      %td= stage.stage_length
      %td= stage.shots
      %td= stage.number
      %td= link_to 'Show', stage, class: "btn btn-primary"
      %td= link_to 'Edit', edit_stage_path(stage), class: "btn btn-info"
      %td= link_to 'Destroy', stage, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'New Stage', new_well_stage_path(@well)
